<!DOCTYPE html>
<html lang="en">
<head>
<title>Test-page</title>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="\model\my.css">
  <link rel="shortcut icon" href="\model\media\cuttingFloorIcon2.png" type="image/x-icon" />
  <script src="\controller\cf.js"></script>
</head>
<body>
    <form id="revForm" action="">
        <div>
           <label for="user"><strong>Username:</strong></label>
           <input class="form-control" name="user" type="text">
           <label for="title"><strong>Review Title:</strong></label>
           <input class="form-control" name="title" type="text">
           <label for="blurb"><strong>The Review:</strong></label>
           <textarea class="form-control" name="blurb" type="text"></textarea>
           <div class="" style="height:50px; color: black">something of interest
           </div>
        </div>
        <a id="subBtn" class="btn-lg btn-primary btn-block text-center" name="sub" type="submit">Upload Review</a>
        </form>
</body>
</html>                            